<div class="bbox">
  <h2>Gestion de Usuarios</h2>
  <div class="separator"></div>
  <div class="title-bar">
    <label>Nombre</label>
    <label>Apellido</label>
    <label>Estado</label>
    <label>Correo</label>
    <label>Rol</label>
    <label>F. Creacion</label>
    <label>Accion</label>
  </div>
  <div class="list-container">
    <div class="user-list" *ngFor="let user of users">
      <div class="itemls-container">
        <input class="item-inpt" type="text" [value]="user.firstname" readonly />
        <input class="item-inpt" type="text" [value]="user.lastname" readonly />
        <input class="item-inpt" id="age-inpt" type="text" [value]="user.age" readonly />
        <input class="item-inpt" type="text" [value]="user.email" readonly />
        <input class="item-inpt" type="text" [value]="user.role" readonly />
        <input class="item-inpt" type="text" [value]="user.createDate" readonly />
        <div class="item-inpt" id="actions-cont">
            <i class="bi bi-pencil-square"></i>
            <i class="bi bi-x-circle-fill"></i>
        </div>
      </div>
    </div>
  </div>
</div>
