<div class="main-cont">
  <div class="center-container">
    <h1 class="title-h1">Restablecer Contraseña</h1>
    <div class="separator"></div>
    <p class="desc-p">
      Por favor, ingrese su dirección de correo electrónico. Recibirá un código
      de verificación por correo electrónico para restablecer su contraseña. Si
      no recibe el correo electrónico, verifique la carpeta de spam.
    </p>
    <div class="form-group mt-3 mx-3">
      <label class="lbl-form" for="usr">Correo:</label>
      <input type="text" class="form-control" id="email"  [(ngModel)]="email" [disabled]="isEmailDisabled"/>
      <button class="dot-button" (click)="sendCode()">Enviar Codigo</button>
    </div>

    <div class="form-group mt-3 mx-3" id="code-form"  *ngIf="isVerifyCodeVisible">
      <label class="lbl-form" for="usr">Codigo:</label>
      <input type="text" class="form-control" id="email"  [(ngModel)]="code"/>
      <button class="dot-button" (click)="verifyCode()">Verificar</button>
    </div>

    <div class="form-group mt-3 mx-3" id="newpassword-form" *ngIf="isNewPasswordVisible" >
      <label class="lbl-form" for="usr">Contraseña</label>
      <input type="text" class="form-control" id="newPassword"  [(ngModel)]="newPassword"/>
      <label class="lbl-form" for="usr">Verificar Contraseña</label>
      <input type="text" class="form-control" id="newPasswordValidate"  [(ngModel)]="newPasswordValidate"/>
      <button class="dot-button" (click)="resetPassword()">Cambiar Contraseña</button>
    </div>
  </div>
</div>
