<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#"> Panel de control </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"></li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="logout-cont" (click)="logOut()">
      <p class="txt-logout">Cerrar Sesion</p>
      <i class="bi bi-door-open-fill" ></i>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>

<!-- Container wrapper -->
<div class="body-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-design">
      <div class="sidebar-content">
        <div class="button-option" (click)="showUserManagement()"  [class.clicked]="showUserManagementComponent">
          <label class="label-b">Usuarios</label>
          <i class="bi bi-people-fill"    ></i>
        </div>
        <div class="button-option" (click)="showGameReports()" [class.clicked]="showGameReportsComponent">
          <label class="label-b">Reportes</label>
          <i class="bi bi-file-earmark-bar-graph-fill" ></i>
        </div>
      </div>
    </div>
  </div>
  <!-- Module container -->
  <div class="module-container">
    <app-user-management *ngIf="showUserManagementComponent"></app-user-management>
    <app-game-reports *ngIf="showGameReportsComponent"></app-game-reports>
  </div>
</div>
